:root{
  --main_color:#0090f0;
  --p_color:#7b7b7b;
  --bg_color:#f3f3f3;
  --white_color:#fff;
  --color_heading:#253237;
  --border_color:#d6d6d6d5;
}
.item_detailes .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top:80px;
}

.item_detailes .container .imgs_item{
display: flex;
flex-direction: column;
align-items: center;
}
.item_detailes .container .big_item{
width: 500px;

}
.item_detailes .container .sm_item{
    margin-top: 15px;
    width: 350px;
display: flex;
justify-content: center;
align-items:center;
}
.item_detailes .container .details_item h1{
    margin: 20px 0;

}
.item_detailes .container .details_item .start{
    margin: 15px 0;
    display: flex;
    gap: 5px;
}
.item_detailes .container .details_item .start svg{
 fill: #f8d941;
    font-size: 28px;
}
.item_detailes .container .details_item h5{ 
    font-weight: 500px;
    font-size: 16px;
    margin-bottom: 20px;
}
.item_detailes .container .details_item .price{
    margin-top: 10px;
    font-size: 25px;
    color: black;
}
.item_detailes .container .details_item .brand{
    margin: 10px 0;
}
.item_detailes .container .details_item .desc{
    line-height: 1.5;
}
.item_detailes .container .details_item .stock{
    font-size: 20px;
    margin-top: 20px;
}
.item_detailes .container .details_item .btn{
    display: flex;
    font-size:18px ;
    border-radius: 10px;
    padding:20px 15px;
    width: 20%;
    padding:8px ;
}
.item_detailes .container .details_item .btn span{
    /* background: white; */
    color: rgb(6, 247, 6);
    font-size: 29px;
}
.item_detailes .container .details_item .btn p{
    color: #fff;
}


.item_detailes .container .details_item .btn_icon{
    background:rgba(245, 245, 245, 0.141);
    width: 4%;
    

}
.item_detailes .container .details_item .icon{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 10px;
    margin-left: 10px;

position: relative;
}   
.item_detailes .container .details_item .icon button span{
    position: absolute;
    top: 20% ;
    /* left: 10px; */
    /* left: ; */

}