.hero{
  position: relative;
  margin-bottom: 80px;
}

.hero .swiper{
  margin-top: 25px;
 width: 70%;
  height: 90% ;
    margin-top: 174px;  
}

.swiper-slide{
  /* width: 60%; */
  position: relative;
}

.swiper-slide .content{
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  /* bottom: 50px; */
  flex-direction:column;
  gap: 10rem;
}
.swiper-slide .content h4{
text-transform: uppercase;
font-size: 1vw;
font-style: italic;
font-weight: normal;
margin-bottom: 0.4vw;
}
.swiper-slide .content h3{
font-size: 3vw ;
text-transform: capitalize;
margin-bottom: 30px;
color: blue;
}
.swiper-slide .content p{
  font-size: 1.7vw;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;

}

/* .swiper-slide .content .text{
  position: absolute;
  top: 50px;
  bottom: 50px;
} */

