:root{
  --main_color:#0090f0;
  --p_color:#7b7b7b;
  --bg_color:#fff;
  --color_heading:#253232;
  --blue_color:rgb(50, 50, 199);
  --bg-dark: #0f172a;
    --glass: rgba(255, 255, 255, 0.08);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:10000;
    background: var(--bg_color)
}
.top_Header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.link:hover{
background: var(--bg-dark);
}
.top_Header img{
    width: 167px;
    margin-left: 80px;
    border-radius: 6px;

}
.top_Header .container .search-box{
    width: 40%;
    display: flex;
    align-items: center;
    background: var(--p_color);
    background-color:var(--bg_color);
    border-radius: 13px;
    border: 5px solid var(--main_color);
}
.top_Header .container .search-box input{
    height: 45px;
    width: 440px;
    padding: 5px 15px 5px 20px ;
    background: var(--bg_color);
    border-radius:30px 0  0 30px;
}
.top_Header .container .search-box button{
    height: 45px;
    width: 60px;
    background: var(--main_color);
    font-size:18px ;
    cursor: pointer;
     border-radius: 0 30px 30px 0;
}
.top_Header .container .search-box button svg{
    fill: var(--bg_color);
}
.top_Header .header_icon{
display: flex;
gap: 30px;
}
.top_Header .header_icon .icon{
    position: relative;
    cursor: pointer;
}
.top_Header .header_icon .icon svg{
    font-size: 30px;
}


.top_Header .header_icon .icon .count{
    position: absolute;
    top: -5px;
    right: -10px ;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height:20px;
     font-size: 11px;
     border-radius: 100%;
    background: var(--main_color);
    color: var(--bg_color);
}
.btn-header{
    background: var(--blue_color);
}

 /* buttonHeader   page */
.btn-header .container{
display: flex;
justify-content: center;
align-items: center;
gap: 12rem;
}   
.btn-header .container .nav{
    display: flex;
    justify-content: center;
    align-items: center;
   gap:5rem;
}
.btn-header .container .nav .Catogory_nav{
    width: 220px;
    height: 100%;
    position: relative;
}
.btn-header .container .nav .Catogory_nav .catagory_nav_list{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background: var(--bg_color);
    border: 1px solid #999 ;
    border-top: 0;
    display: flex;
    flex-direction: column;
     max-height:400px;
    overflow-y:auto;

    clip-path: polygon(0 0,100% 0,100% 0,0 0);
  
}
.btn-header .container .nav .Catogory_nav .catagory_nav_list#active{
  clip-path: polygon(0 0,100% 0,100% 100% ,0 100%);
}
.btn-header .container .nav .Catogory_nav .catagory_nav_list a{
    padding: 14px 10px;
    display: block;
    border-bottom: 1px solid var(--color_heading);
}
.btn-header .container .nav .Catogory_nav .catagory_nav_list a:last-child{
    border-bottom: 0;
}
.btn-header .container .nav .catogory_btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main_color);
    padding: 0 15px;
    cursor: pointer;
}
.btn-header .container .nav .catogory_btn p{
 color: #fff;

}
.btn-header .container .nav_links{
    display: flex;
    gap: 2rem;
}
.btn-header .container .nav_links li{
height: 100%;
display: flex;
align-items: center;
padding: 18px;
}
.btn-header .container .nav_links li a{
    color: #fff;
}
.btn-header .container .nav_links li.active{
    background:rgb(18, 79, 202)
}
.btn-header .container .header_icon{
    display: flex;
    gap: 20px;
    color: #fff;
}
.btn-header .container .header_icon svg{
    font-size: 20px;
    color: #fff;
}


