
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --main_color:blue;
  --p_color:#7b7b7b;
  --bg_color:#fff;
  --color_heading:#253232;
  
      --bg-dark: #0f172a;
    --glass: rgba(255, 255, 255, 0.08);

}

body{
  background: #fff;
      font-family: "Inter", sans-serif;
      padding-top: 0px;
}
img{
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
  color:var(--color_heading);
      font-family: "DM Sans", sans-serif;
}
span{
  color: var(--main_color);
}
p{
  color: var(--p_color);
}
input,button,select,textarea{
  outline: none;
  border:none ;

}
a{
  text-decoration: none;
  color: var(--color_heading);
}
.container{
  width: 90%;
  margin:0 auto ;
  max-width:1300px ;
}
button{
  padding: 10px 18px;
  text-transform: capitalize;
 cursor: pointer;
 border-radius: 30px;
 background: var(--main_color);
color: var(--bg_color);
display: flex;
gap: 10px;
align-items: center;
transition: 0.1s;
width: max-content;


}
button:hover{
  scale: 1.1;
}

